

   <h2 class="text-center mb-3">Liste des structures</h2>
   <div class="row">
    <div class="col-lg-12">
        <div class="card p-1">
        <div class="d-flex justify-content-between">
            <button *ngIf="buttonsPermission.add" class="btn btn-sm btn-info"  (click)="add(addContent)">Ajouter</button>
           
            <div class="align-self-center d-flex">
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option value="">Filtrer Par</option>
                    </select>
                    <input type="text" class="form-control" name="search_text" [(ngModel)]="search_text"   (ngModelChange)="onSearchChange()" placeholder="Rechercher..">
                    <button (click)="resetSearch()" class="btn btn-outline-primary" type="button"><i class="bi bi-arrow-counterclockwise " aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
            <div class="card-body">

                        <p>{{isPaginate ? pg.total : data.length}} élément(s)</p>
                        <div class="table-responsive">
                        <table class="table" >
                            <thead class="">
                                <tr>
                                    <th style="width: 10px;">#</th>
                                    <th>Libellé</th>
                                    <th>Sigle</th>
                                    <th>Adresse</th>
                                    <th>email</th>
                                    <th>Téléphone</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let d of data | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total } | sampleSearch:search_text">
                                 <td class="position-relative" style="z-index: 10;"> 
                                    <div class="form-check mb-2">
                                        <input
                                        (click)="checked(d)"
                                        class="form-check-input"
                                        type="radio"
                                        name="selectedDoc"
                                        [value]="d.id"
                                        [(ngModel)]="selectedId"
                                        id="radio-{{ d.id }}"
                                        />
                                    </div>

                                    <div *ngIf="selectedId === d.id" class="overlay-panel-right">
                                        <button
                                        class="btn btn-info btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        (click)="add(addContent)"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Ajouter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-plus-lg"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.show"
                                        (click)="show(showContent)"
                                        type="button"
                                        class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Consulter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-eye"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.edit"
                                        (click)="edit(editContent)"
                                        type="button"
                                        class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Éditer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-pencil"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.delete"
                                        (click)="delete()"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Supprimer"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-trash"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && !is_active"
                                        (click)="setStatus(1)"
                                        type="button"
                                        class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Activer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-toggle-on"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && is_active"
                                        (click)="setStatus(0)"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Désactiver"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-toggle-off"></i>
                                        </button>

                                       

                                        <button
                                        type="button"
                                        class="btn-close float-end"
                                        (click)="selectedId = null"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        title="Fermer"
                                        ></button>
                                    </div>
                                    </td>





                                   <td>{{d.designation}}</td>
                                    <td>{{d.sigl}}</td>
                                    <td>{{d.adresse_struct}}</td>
                                    <td>{{d.email}}</td>
                                    <td>{{d.telephone}}</td>

                                    <!-- <td>
                                        <span *ngIf="d.is_active" class="p-1 rounded text-white  bg-success">Actif</span>
                                        <span *ngIf="!d.is_active" class="p-1 rounded text-white bg-danger">Bloqué</span>

                                        </td> -->
                                </tr>

                             <tr *ngIf="search_text !== '' && (data | sampleSearch:search_text).length === 0">
                                <td colspan="5" class="text-center">
                                    <p class="text-muted">Recherche avancée en cours...</p>
                                    <button class="btn btn-outline-secondary btn-sm" (click)="resetSearch()">
                                        Réinitialiser la recherche
                                        </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <pagination-controls 
                        id="ngxP1"
                        (pageChange)="getPage($event)"
                      [maxSize]="9"
                      [directionLinks]="true"
                      [autoHide]="true"
                      [responsive]="true"
                      [previousLabel]="'Précédent'"
                      [nextLabel]="'Suivant'"
                      [screenReaderPaginationLabel]="'Pagination'"
                      [screenReaderPageLabel]="'page'"
                      [screenReaderCurrentLabel]="'Vous êtes sur la page'">
                     </pagination-controls>

            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<ng-template #addContent let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="store(addForm.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enregistrer une structure</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3" >
            <div class=" form-goup col-12 mb-3">
                <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                <input #designation="ngModel" type="text" name="designation" class="form-control" required ngModel>
                <span *ngIf="designation.invalid && (designation.dirty || designation.touched)"
                class="text-danger">
                    <span *ngIf="designation.errors?.['required']"> Le libellé est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Sigle <span class="text-danger ml-2">(*)</span></label>
                <input #sigl="ngModel" type="text" name="sigl" class="form-control" required ngModel>
                <span *ngIf="sigl.invalid && (sigl.dirty || sigl.touched)"
                class="text-danger">
                    <span *ngIf="sigl.errors?.['required']"> Le sigle est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Adresse structure <span class="text-danger ml-2">(*)</span></label>
                <input #adresse_struct="ngModel" type="text" name="adresse_struct" class="form-control" required ngModel>
                <span *ngIf="adresse_struct.invalid && (adresse_struct.dirty || adresse_struct.touched)"
                class="text-danger">
                    <span *ngIf="adresse_struct.errors?.['required']"> L'adresse est requise</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Email <span class="text-danger ml-2">(*)</span></label>
                <input #email="ngModel" type="email" name="email" class="form-control" required ngModel>
                <span *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger">
                    <span *ngIf="email.errors?.['required']"> L'email est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Téléphone <span class="text-danger ml-2">(*)</span></label>
                <input #telephone="ngModel" type="text" name="telephone" class="form-control" required ngModel>
                <span *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
                class="text-danger">
                    <span *ngIf="telephone.errors?.['required']"> Le contact est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Secteur <span class="text-danger ml-2">(*)</span></label>
                <select #sector_id="ngModel" name="sector_id" class="form-control" required ngModel>
                    <option *ngFor="let s of sectors" [value]="s.id">{{s.libsecteur}}</option>
                    
                </select>  
                <span *ngIf="sector_id.invalid && (sector_id.dirty || sector_id.touched)"
                class="text-danger">
                    <span *ngIf="sector_id.errors?.['required']"> Le libellé du secteur est requis</span>
            </span>
             </div>
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="addForm.invalid" class="btn btn-outline-dark" >Enregistrer</button>
    </div>
</form>
  </ng-template>

  <ng-template #editContent let-c="close" let-d="dismiss">
    <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifier une structure</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3">
            <div class=" form-goup col-12 mb-3">
                <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                <input  #designation="ngModel" type="text" name="designation" class="form-control" required [(ngModel)]="selected_data.designation">
                <span *ngIf="designation.invalid && (designation.dirty || designation.touched)"
                class="text-danger">
                    <span *ngIf="designation.errors?.['required']"> Le libellé est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Sigle <span class="text-danger ml-2">(*)</span></label>
                <input #sigl="ngModel" type="text" name="sigl" required class="form-control" [(ngModel)]="selected_data.sigl">
                <span *ngIf="sigl.invalid && (sigl.dirty || sigl.touched)"
                class="text-danger">
                    <span *ngIf="sigl.errors?.['required']"> Le sigle est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Adresse <span class="text-danger ml-2">(*)</span></label>
                <input #adresse_struct="ngModel" type="text" name="adresse_struct" required class="form-control" [(ngModel)]="selected_data.adresse_struct">
                <span *ngIf="adresse_struct.invalid && (adresse_struct.dirty || adresse_struct.touched)"
                class="text-danger">
                    <span *ngIf="adresse_struct.errors?.['required']"> L'adresse est requise</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Email <span class="text-danger ml-2">(*)</span></label>
                <input #email="ngModel" type="email" name="email" class="form-control" required [(ngModel)]="selected_data.email">
                <span *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger">
                    <span *ngIf="email.errors?.['required']"> L'email est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Contact <span class="text-danger ml-2">(*)</span></label>
                <input #telephone="ngModel" type="text" name="telephone" class="form-control" required [(ngModel)]="selected_data.telephone">
                <span *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
                class="text-danger">
                    <span *ngIf="telephone.errors?.['required']"> Le contact du secteur est requis</span>
            </span>
            </div>
            <div class=" form-goup col-12 mb-3">
                <label for="">Secteur <span class="text-danger ml-2">(*)</span></label>
                <select  #sector_id="ngModel" name="sector_id" class="form-control"  required [(ngModel)]="selected_data.sector_id">
                    <option *ngFor="let s of sectors" [value]="s.id">{{s.libsecteur}}</option>
                </select>  
                <span *ngIf="sector_id.invalid && (sector_id.dirty || sector_id.touched)"
                class="text-danger">
                    <span *ngIf="sector_id.errors?.['required']"> Le libellé du secteur est requis</span>
            </span>
             </div>          
            
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="editForm.invalid" class="btn btn-outline-dark" >Sauvegarder</button>
    </div>
</form>
  </ng-template>

  <ng-template #showContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
            <table class="table table-borderless align-middle mb-0">
                <tbody>
                    <tr >
                        <td class="fw-medium">Libellé</td>
                        <td >{{selected_data.designation}} </td>
                      
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Sigle</td>
                        <td >{{selected_data.sigl}} </td>
                      
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Adresse</td>
                        <td >{{selected_data.adresse_struct}} </td>
                      
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Email</td>
                        <td >{{selected_data.email}} </td>
                      
                    </tr>
                    <tr >
                        <td class="fw-medium">Contact</td>
                        <td >{{selected_data.telephone}} </td>
                      
                    </tr>
                    <tr >
                        <td class="fw-medium">Secteur</td>
                        <td >{{selected_data.sector?.libsecteur}} </td>
                      
                    </tr>
               
                </tbody>
            </table>
        </div>
      </div>
</ng-template>