

   <h2 class="text-center mb-3">Liste de mes enregistrements</h2>
   <div class="row">
    <div class="col-lg-12">
        <div class="card p-1">
        <div class="d-flex justify-content-between">
            <div class="">
                            <a *ngIf="buttonsPermission.add" routerLink="/admin/create-reforme" class="btn btn-sm btn-info" >Ajouter</a>
            </div>           
            <div class="align-self-center d-flex">
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option value="">Filtrer Par</option>
                    </select>
                    <input type="text" class="form-control" name="search_text" [(ngModel)]="search_text"   (ngModelChange)="onSearchChange()" placeholder="Rechercher..">
                    <button (click)="resetSearch()" class="btn btn-outline-primary" type="button"><i class="bi bi-arrow-counterclockwise " aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
            <div class="card-body">

                        <p>{{isPaginate ? pg.total : data.length}} élément(s)</p>
                        <div class="table-responsive">
                        <table class="table" >
                            <thead class="">
                                <tr>
                                    <th style="width: 10px;">#</th>
                                      <th >Libellé</th>
                                    <th>Période</th>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>Etat</th>
                                    <th>statut</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of data | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total } | sampleSearch:search_text">
                                 <td class="position-relative" style="z-index: 10;"> 
                                   
                                    <div class="form-check mb-2">
                                        <input
                                        (click)="checked(d)"
                                        class="form-check-input"
                                        type="radio"
                                        name="selectedDoc"
                                        [value]="d.id"
                                        [(ngModel)]="selectedId"
                                        id="radio-{{ d.id }}"
                                        />
                                    </div>
                                    <div *ngIf="selectedId === d.id" class="overlay-panel-right">
                                        <button
                                        class="btn btn-info btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        (click)="add(addContent)"
                                        
                                        title="Ajouter"
 matTooltip="Ajouter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-plus-lg"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.show"
                                        (click)="show(showContent)"
                                        type="button"
                                        class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        
                                        title="Consulter"
 matTooltip="Consulter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-eye"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.edit"
                                        (click)="edit(editContent)"
                                        type="button"
                                        class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        
                                        title="Éditer"
 matTooltip="Éditer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-pencil"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.delete"
                                        (click)="delete()"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Supprimer"
 matTooltip="Supprimer"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-trash"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && !is_active"
                                        (click)="setStatus(1)"
                                        type="button"
                                        class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Activer"
 matTooltip="Activer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-toggle-on"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && is_active"
                                        (click)="setStatus(0)"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Désactiver"
 matTooltip="Désactiver"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-toggle-off"></i>
                                        </button>

                                       

                                        <button
                                        type="button"
                                        class="btn-close float-end"
                                        (click)="selectedId = null"
                                        
                                        title="Fermer"
 matTooltip="Fermer"
                                        ></button>
                                    </div>
                                    </td>

 <td>{{d.libref}}</td>
                                    <!-- <td>{{d.typeref}}</td> -->
                                    <td>{{d.periodexe}}</td>
                                    <td>{{d.date_debut | date:"longDate"}}</td>
                                    <td>{{d.date_fin | date:"longDate"}}</td>
                                    <td>{{d.etat_mor}}</td>
                                    <td>
                                        <span *ngIf="d.isPublished" class="bg-success p-1 text-white rounded">Publiée</span>
                                        <span *ngIf="!d.isPublished" class="bg-warning p-1 text-white rounded">En attente</span>

                                    </td>
                                </tr>

                             <tr *ngIf="search_text !== '' && (data | sampleSearch:search_text).length === 0">
                                <td colspan="5" class="text-center">
                                    <p class="text-muted">Recherche avancée en cours...</p>
                                    <button class="btn btn-outline-secondary btn-sm" (click)="resetSearch()">
                                        Réinitialiser la recherche
                                        </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <pagination-controls 
                        id="ngxP1"
                        (pageChange)="getPage($event)"
                      [maxSize]="9"
                      [directionLinks]="true"
                      [autoHide]="true"
                      [responsive]="true"
                      [previousLabel]="'Précédent'"
                      [nextLabel]="'Suivant'"
                      [screenReaderPaginationLabel]="'Pagination'"
                      [screenReaderPageLabel]="'page'"
                      [screenReaderCurrentLabel]="'Vous êtes sur la page'">
                     </pagination-controls>

            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>
<ng-template #addContent let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="store(addForm.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enregistrer un secteur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3" >
            <div class="form-goup col-12">
                <label for="">Libellé</label>
                <input type="text" name="name" class="form-control" ngModel>
            </div>
           
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Soumettre</button>
    </div>
</form>
  </ng-template>
<ng-template #affContent let-c="close" let-d="dismiss">
    <form #affForm="ngForm" (ngSubmit)="storeAff(affForm.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Retourner pour correction</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3" >
            <div class="form-goup col-12">
                <label for="">Motif</label>
                <textarea name="instructtion" ngModel class="form-control"></textarea>
            </div>
           
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="affForm.invalid" class="btn btn-outline-dark" >Retourner</button>
    </div>
</form>
  </ng-template>

  <ng-template #editContent let-c="close" let-d="dismiss">
    <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
        <div class="row mb-3">
            <div class="form-goup col-12">
                <label for="">Libellé</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="selected_data.name">
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Sauvegarder</button>
    </div>
</form>
  </ng-template>

  <ng-template #showContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>

      <div class="modal-body" id="content-id">
          <h3 class="font-weight-bold text-center mb-3">Détails de la réforme enregistrée</h3>
        <div class="table-responsive table-card">
            <table class="table table-borderless align-middle mb-0">
                <tbody>
                    <tr >
                        <td class="fw-medium">Libellé</td>
                        <td >{{selected_data.libref}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Type</td>
                        <td >{{selected_data.typeref}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Objectif</td>
                        <td >{{selected_data.objectif_glob}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Population cible</td>
                        <td >{{selected_data.popul_cible}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Structure impliquées</td>
                        <td >{{selected_data.struct_impl}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Période</td>
                        <td >{{selected_data.periodexe}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Date début</td>
                        <td >{{selected_data.date_debut}} </td>
                    </tr>
               
                    <tr >
                        <td class="fw-medium">Date fin</td>
                        <td >{{selected_data.date_fin}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Date enregistrement</td>
                        <td >{{selected_data.date_enreg}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Cadre institutionnel de mise en oeuvre</td>
                        <td >{{selected_data.cadreinst_mor}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Eate de mise en oeuvre fin</td>
                        <td >{{selected_data.etat_mor}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Montant réalisé</td>
                        <td >{{selected_data.montant_prevu}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Montant prévu</td>
                        <td >{{selected_data.montant_trealise}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Difficulité</td>
                        <td >{{selected_data.difficult}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Solution</td>
                        <td >{{selected_data.solution}} </td>
                    </tr>
                    <tr >
                        <td class="fw-medium">Perspective</td>
                        <td >{{selected_data.perspective}} </td>
                    </tr>
               
                </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <small class="d-flex justify-content-end"><button class="btn btn-sm btn-primary" (click)="downloadPdf()">Imprimer cette fiche</button></small>

      </div>
</ng-template>