<p>entities works!</p>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Secteurs</h3>
                <!-- <p class="text-subtitle text-muted">A sortable, searchable, paginated table without dependencies thanks to simple-datatables</p> -->
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/admin/accueil">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Secteur</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Liste des secteurs
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                
                            <div class="card-body">
                                <div class="d-flex mb-5 " *ngIf="buttonsPermission">
                                    <button class="btn btn-info btn-sm btn-label waves-effect waves-light float-right me-3" (click)="add(addContent)">Ajouter</button>
                                    <button *ngIf="buttonsPermission.show"  (click)="show(showContent)" type="button" class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light me-3">
                                         <span>Consulter</span></button>
                                    <button *ngIf="buttonsPermission.edit" (click)="edit(editContent)" type="button"  class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light me-3">
                                       Editer</button>
                                    <button *ngIf="buttonsPermission.delete" (click)="delete()" type="button" class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3">
                                         Supprimer</button>
                                </div>
                
                                        <p>{{data.length}} élément(s)</p>
                                        <div class="table-responsive">
                                        <table class="table table-sm align-middle   table-nowrap mb-0 table-bordered" >
                                            <thead class="table-secondary">
                                                <tr>
                                                    <th style="width: 10px;">#</th>
                                                    <th>Libellé</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let d of data ">
                                                    <td>
                                                        <div class="form-check mb-2">
                                                            <input (click)="checked(d)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        
                                                        </div>
                                                    </td>
                                                    <td>{{d.libelle}}</td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                        </div>
                
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                
                <ng-template #addContent let-c="close" let-d="dismiss">
                    <form #addForm="ngForm" (ngSubmit)="store(addForm.value)">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Enregistrer une entité</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body" >
                        <div class="row mb-3" >
                            <div class="form-goup col-12">
                                <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                                <input type="text" name="libelle" class="form-control" ngModel>
                            </div>
                           
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-outline-dark" >Soumettre</button>
                    </div>
                </form>
                  </ng-template>
                
                  <ng-template #editContent let-c="close" let-d="dismiss">
                    <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Modifier une entité</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body" >
                        <div class="row mb-3">
                            <div class="form-goup col-12">
                                <label for="">Libellé <span class="text-danger ml-2">(*)</span></label>
                                <input type="text" name="libelle" class="form-control" [(ngModel)]="selected_data.libelle">
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-outline-dark" >Sauvegarder</button>
                    </div>
                </form>
                  </ng-template>
                
                  <ng-template #showContent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                      </div>
                
                      <div class="modal-body">
                        <div class="table-responsive table-card">
                            <table class="table table-borderless align-middle mb-0">
                                <tbody>
                                    <tr >
                                        <td class="fw-medium">Libellé</td>
                                        <td >{{selected_data.libelle}} </td>
                                      
                                    </tr>
                               
                                </tbody>
                            </table>
                        </div>
                      </div>
                </ng-template>
            </div>
        </div>

    </section>
</div>