
<div class=" " style="min-height: 100vh; width: 100%;">

    <div class="container d-flex flex-column justify-content-start h-100">
        <div class="col-12 col-md-5 mx-auto align-self-center ">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Saisir un nouveau mot de passe</h3>
                <form class="" #fpForm="ngForm" (ngSubmit)="recoverPassword(fpForm.value)">
                    <div class="form-row">
                            <div class="mb-3 form-group">
                                <label for="exampleEmail1" class="">Nouveau mot de passe</label>
                                <input name="password" id="exampleEmail1" placeholder="Mot de passe ici..." type="password" class="form-control" ngModel required>
                                </div>
                        <div class="mb-3 form-group">
                        <label for="exampleEmail2" class="">Confirmer mot de passe</label>
                        <input name="password_confirmation" id="exampleEmail2" placeholder="Mot de passe ici..." type="password" class="form-control" ngModel required>
                        </div>
                        </div>
                    <div class="mt-4 text-center">
                      
                        <button class="btn btn-primary btn-lg mb-3" [disabled]="fpForm.invalid || loading" type="submit">Changer mon mot de passe <app-loading [isVisible]="loading"></app-loading></button>
                          <h6 class="mb-0">
                        <a routerLink="/admin/login" class="text-primary">Je dispose déjà d'un compte</a>
                        </h6>
                        </div>
                </form>
                   
    </div>
</div>
</div>
</div>
</div>
