   <h2 class="text-center mb-3">Liste des rôles</h2>


    <div class="row">
      <div class="card p-1 mb-3 card">
    <div class="d-flex justify-content-between">
      <button class="btn btn-sm btn-info" *ngIf="buttonsPermission.add"  (click)="add(addContent)">Ajouter</button>
            <div class="align-self-center">
                <select class="form-control me-2" name=""  id="">
                    <option value="">Filtrer</option>
                </select>
            </div>
            <div class="">
                <input type="text" class="input-search" name="search_text" [(ngModel)]="search_text" placeholder="Rechercher..">
            </div>
        </div>
        <div class="card-body">
        
          <p>{{data!.length}} élément(s)</p>
          <div class="table-responsive">
          <table class="table" >
              <thead class="">
                  <tr>
                      <th style="width: 10px;">#</th>
                      <th>Libellé</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let d of data | sampleSearch:search_text | paginate: {
                  id:'ngxP1',
                  itemsPerPage: pg.pageSize,
                  currentPage: pg.p,
                  totalItems: pg.total } ">
                       <td class="position-relative" style="z-index: 10;"> 
                                    <div class="form-check mb-2">
                                        <input
                                        (click)="checked(d)"
                                        class="form-check-input"
                                        type="radio"
                                        name="selectedDoc"
                                        [value]="d.id"
                                        [(ngModel)]="selectedId"
                                        id="radio-{{ d.id }}"
                                        />
                                    </div>

                                    <div *ngIf="selectedId === d.id" class="overlay-panel-right">
                                        <button
                                        class="btn btn-info btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        (click)="add(addContent)"
                                        
                                        title="Ajouter"
 matTooltip="Ajouter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-plus-lg"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.show"
                                        (click)="show(showContent)"
                                        type="button"
                                        class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        
                                        title="Consulter"
 matTooltip="Consulter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-eye"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.edit"
                                        (click)="edit(editContent)"
                                        type="button"
                                        class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        
                                        title="Éditer"
 matTooltip="Éditer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-pencil"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.delete"
                                        (click)="delete()"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Supprimer"
 matTooltip="Supprimer"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-trash"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && !is_active"
                                        (click)="setStatus(1)"
                                        type="button"
                                        class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Activer"
 matTooltip="Activer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-toggle-on"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && is_active"
                                        (click)="setStatus(0)"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        
                                        title="Désactiver"
 matTooltip="Désactiver"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-toggle-off"></i>
                                        </button>
                                        <button
                                        type="button"
                                        class="btn-close float-end"
                                        (click)="selectedId = null"
                                        
                                        title="Fermer"
 matTooltip="Fermer"
                                        ></button>
                                    </div>
                                    </td>

                      <td>{{d.name}}</td>                     
                  </tr>
              
              </tbody>
          </table>
          </div>
            <pagination-controls 
          id="ngxP1"
          (pageChange)="getPage($event)"
        [maxSize]="9"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        [previousLabel]="'Précédent'"
        [nextLabel]="'Suivant'"
        [screenReaderPaginationLabel]="'Pagination'"
        [screenReaderPageLabel]="'page'"
        [screenReaderCurrentLabel]="'Vous êtes sur la page'">
       </pagination-controls>
        </div>
        </div>
      </div>



      <ng-template  #addContent let-c="close" let-d="dismiss">
        <form #addForm="ngForm" (ngSubmit)="create(addForm.value)">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-basic-title">Créer un rôle</h6>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body" >
              <div class="row mb-3">
                  <div class="form-group">
                    <label for="">Libellé</label>
                    <input type="text" name="name" ngModel class="form-control">
                  </div>
              </div>
              <div class="container">
                <div class="form-check">
                    <label class="form-check-label me-5" for="flexCheckChecked">
                      Fixer ce rôle ?
                    </label>
                    <input class="form-check-input" type="checkbox" name="canOverwrite" ngModel id="flexCheckChecked">

                  </div>
             </div>
             
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid || loading" >Sauvegarder <app-loading [isVisible]="loading"></app-loading></button>
          </div>
      </form>
        </ng-template> 

      <ng-template  #contentCopy let-c="close" let-d="dismiss">
        <form #addForm="ngForm" (ngSubmit)="copy(addForm.value)">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-basic-title">Copier un rôle</h6>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body" >
              <div class="row mb-3">
                  <div class="form-group col-12">
                    <label for="">Ancien rôle</label>
                    <ng-select name="old_id" [(ngModel)]="selected_data.id" required disabled>
                      <ng-option *ngFor="let r of data" [value]="r.id">{{r.name}}</ng-option>
                    </ng-select>
                  </div>
                  <div class="form-group col-12">
                    <label for="">Ancien rôle</label>
                    <ng-select name="new_id" ngModel required >
                      <ng-option *ngFor="let r of data" [value]="r.id">{{r.name}}</ng-option>
                    </ng-select>
                  </div>
              </div>
             
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid || loading" >Faire la copie <app-loading [isVisible]="loading"></app-loading></button>
          </div>
      </form>
        </ng-template> 

        <ng-template  #editContent let-c="close" let-d="dismiss">
          <form #addForm="ngForm" (ngSubmit)="update(addForm.value)">
            <div class="modal-header">
              <h6 class="modal-title" id="modal-basic-title">Modifiier un rôle</h6>
              <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body" >
                <div class="row mb-3">
                    <div class="form-group">
                      <label for="">Libellé</label>
                      <input type="text" name="name" [(ngModel)]="selected_data.name" class="form-control">
                    </div>
                   
                  
                </div>
               
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark" [disabled]="addForm.invalid || loading" >Sauvegarder <app-loading [isVisible]="loading"></app-loading></button>
            </div>
        </form>
        </ng-template> 


        <ng-template #contentMenu let-offcanvas>
          <div class="offcanvas-header">
            
            <h4 class="offcanvas-title">Visualiseur de menu</h4>
            <button id="closePDFBtn" type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
          </div>
          <div class="offcanvas-body">
            <div class="scrollbar-sidebar ag-bg-red " style="overflow: scroll; height: 90vh;">
            
            <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu" >
              <ng-container *ngFor="let m of menu; let i= index">
          
            <li *ngIf="m.status" class="app-sidebar__heading g-text-yellow">{{m.title}}</li>
            <ng-container *ngFor="let e of m.elements; let j= index">
              <li *ngIf="!e.isTitle && !e.hasChildren && e.status">
                <a [routerLink]="e.route" routerLinkActive="mm-active" class="text-white">
                <i class="metismenu-icon pe-7s-graph2"></i>{{e.name}}
                </a>
                </li>
              <li *ngIf="!e.isTitle && e.hasChildren && e.status" class="">
              <a  data-bs-toggle="collapse" href="#collapseExample{{i}}{{j}}" role="button" aria-expanded="false" attr.aria-controls="collapseExample{{j}}" class="text-white">
              <i class="metismenu-icon pe-7s-rocket"></i>{{e.name}}
              <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
              </a>
              <ul class="collapse" id="collapseExample{{i}}{{j}}">
                <ng-container *ngFor="let sm of e.children"  >
                  <li *ngIf="sm.status">
                    <a  style="color:aliceblue" routerLink="{{sm?.route}}" routerLinkActive="mm-active" class="">
                    <i class="metismenu-icon"></i>{{sm?.name}}
                     </a>
                    </li>
                </ng-container>
             
              </ul>
              </li>
            </ng-container>
           
          </ng-container>
          
            </ul>
            </div>
             
            </div>
          </div>
        </ng-template>

<ng-template #showContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
       
      </div>
</ng-template>